{% extends 'baseB.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <body>
<div class="page login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6">
              <div class="info d-flex align-items-center">
                <div class="content">
                  <div class="logo">
                    <h1>Soft Health</h1>
                  </div>
                  <p>Inscription</p>
                </div>
              </div>
            </div>
            <!-- Form Panel    -->
            <div class="col-lg-6 bg-white">
              <div class="form d-flex align-items-center">
                <div class="form">


            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}


            {{ form_start(registrationForm,{
                'attr': {
                    'novalidate': 'novalidate',

                }
            }

            ) }}

            <div class="form-group">



                {{ form_row(registrationForm.email) }}
                {{ form_errors(registrationForm.email) }}
            </div>

            <div class="form-group"  >

                {{ form_row(registrationForm.roles) }}

            </div>

            <div  class="form-group">
                {{ form_row(registrationForm.plainPassword) }}


            </div>

            <div class="form-group">
                {{ form_row(registrationForm.cin) }}
                {{ form_errors(registrationForm.cin) }}
            </div>

            <div>
                {{ form_row(registrationForm.username) }}
                {{ form_errors(registrationForm.username) }}
            </div>

            <div class="i-checks">
                {{ form_row(registrationForm.agreeTerms) }}

            </div>

            <div class="form-group">

                <button type="submit" class="btn btn-lg btn-primary">Inscrire</button>
            </div>

            <div class="alert alert-info">{{form_rest(registrationForm) }} </div>

            {{ form_end(registrationForm) }}


    
        </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="container">
        
    </div>



    </body>
{% endblock %}