{% extends 'baseB.html.twig' %}

{% block title %}Rendez Vous {% endblock %}

{% block body %}
    <body>

    <div class="page">
        <!-- Main Navbar-->
        <header class="header">
            <nav class="navbar">
                <!-- Search Box-->
                <div class="search-box">
                    <button class="dismiss"><i class="icon-close"></i></button>
                    <form id="searchForm" action="#" role="search">
                        <input type="search" placeholder="What are you looking for..." class="form-control">
                    </form>
                </div>
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <!-- Navbar Header-->
                        <div class="navbar-header">
                            <!-- Navbar Brand --><a href="index.html" class="navbar-brand d-none d-sm-inline-block">
                                <div class="brand-text d-none d-lg-inline-block"><span>Soft </span><strong>HEALTH</strong></div>
                                <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div></a>
                            <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                        </div>
                        <!-- Navbar Menu -->
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            <!-- Search-->
                            <li class="nav-item d-flex align-items-center"><a id="search" href="#"><i class="icon-search"></i></a></li>


                            <!-- Messages                        -->
                            <li class="nav-item dropdown"> <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-envelope-o"></i><span class="badge bg-orange badge-corner">10</span></a>
                                <ul aria-labelledby="notifications" class="dropdown-menu">
                                    <li><a rel="nofollow" href="#" class="dropdown-item d-flex">
                                            <div class="msg-profile"> <img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                            <div class="msg-body">
                                                <h3 class="h5">Rayen</h3><span>Sent You Message</span>
                                            </div></a></li>
                                    <li><a rel="nofollow" href="#" class="dropdown-item d-flex">
                                            <div class="msg-profile"> <img src="img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                            <div class="msg-body">
                                                <h3 class="h5">Rihem</h3><span>Sent You Message</span>
                                            </div></a></li>
                                    <li><a rel="nofollow" href="#" class="dropdown-item d-flex">
                                            <div class="msg-profile"> <img src="img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                            <div class="msg-body">
                                                <h3 class="h5">Emna</h3><span>Sent You Message</span>
                                            </div></a></li>
                                    <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>Read all messages   </strong></a></li>
                                </ul>
                            </li>


                            <!-- Logout    -->
                            <li class="nav-item"><a href="#" class="nav-link logout"> <span class="d-none d-sm-inline">Deconnexion</span><i class="fa fa-sign-out"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar">
                <!-- Sidebar Header-->
                <div class="sidebar-header d-flex align-items-center">

                    <div class="title">
                        <h1 class="h4">Soft Health</h1>
                        <p>Admin</p>
                    </div>
                </div>
                <!-- Sidebar Navidation Menus-->
                <ul class="list-unstyled">
                    <li><a href="{{ path('main') }}"> <i class="icon-home"></i>Home </a></li>
                    <li><a href="{{ path('user_index') }}"> <i class="icon-grid"></i>Personnel </a></li>
                    <li><a href="tables.html"> <i class="icon-grid"></i>Patient </a></li>
                    <li><a href="{{ path('rendez_vous_index') }}"> <i class="icon-grid"></i>Back To list Rendez vous </a></li>
                    <li class="active"><a href="#"> <i class="icon-grid"></i>Show Rendez vous </a></li>
                    <li><a href="{{ path('rendez_vous_c') }}"> <i class="fa fa-bar-chart"></i>Rendez_Vous</a></li>
                    <li><a href="{{ path('rendez_vous_new') }}"> <i class="fa fa-bar-chart"></i>Ajouter Rendez_Vous</a></li>
                    <li><a href="{{ path('planning_admin') }}"> <i class="fa fa-bar-chart"></i>Planning </a></li>
                    <li><a href="{{ path('patient_index') }}"> <i class="fa fa-bar-chart"></i>Patient </a></li>
                    <li><a href="login.html"> <i class="icon-interface-windows"></i>Login page </a></li>
                </ul>
            </nav>
            <div class="content-inner">
                <!-- Page Header-->
                <header class="page-header">
                    <div class="container-fluid">
                        <h2 class="no-margin-bottom">Rendez vous</h2>
                    </div>
                </header>
                <!-- Breadcrumb-->
                <div class="breadcrumb-holder container-fluid">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('main') }}">Home</a></li>
                        <li class="breadcrumb-item active">Personnels</li>
                    </ul>
                </div>
                <section class="tables">
                    <div class="container-fluid">
                        <div class="row">


                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-close">
                                        <div class="dropdown">
                                            <button type="button" id="closeCard3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                            <div aria-labelledby="closeCard3" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                                        </div>
                                    </div>
                                    <div class="card-header d-flex align-items-center">
                                        <h3 class="h4">Listes des Rendez Vous</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <th>Id</th>
                                                    <td>{{ rendez_vou.id }}</td>
                                                </tr>
                                                <tr>
                                                    <th>NomRDV</th>
                                                    <td>{{ rendez_vou.nomRDV }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Description</th>
                                                    <td>{{ rendez_vou.description }}</td>
                                                </tr>
                                                <tr>
                                                    <th>DateRDV</th>
                                                    <td>{{ rendez_vou.dateRDV ? rendez_vou.dateRDV|date('Y-m-d') : '' }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Plannings</th>
                                                    <td>{{ rendez_vou.plannings }}</td>
                                                </tr>
                                                </tbody>
                                            </table>


                                            <a href="{{ path('rendez_vous_edit', {'id': rendez_vou.id}) }}">edit</a>
                                            <a>{{ include('rendez_vous/_delete_form.html.twig') }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Page Footer-->
                <footer class="main-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Soft Health </p>
                            </div>
                            <div class="col-sm-6 text-right">
                                <p>Design by <a href="https://bootstrapious.com/p/admin-template" class="external">Bootstrapious</a></p>
                                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    </body>
{% endblock %}