{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<body>
<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
        <div class="align-items-center d-none d-md-flex">
            <i class="bi bi-clock"></i> Lundi - Dimanche, 8h to 22h
        </div>
        <div class="d-flex align-items-center">
            <i class="bi bi-phone"></i>  Téléphone : 71234587
        </div>
    </div>
</div>


<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <a href="index.html" class="logo me-auto"><img src="{{ asset('front/assets/img/logoP.png') }}" alt=""></a>


        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto " href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li class="dropdown"><a href="#"><span>Sérevice patient</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Réserver un rendez vous</a></li>
                        <li><a href="#">Réclamation</a></li>
                        <li><a href="{{ path('contact_clien') }}">Envoyer un mail </a></li>


                    </ul>
                <li class="dropdown"><a href="#"><span>Inscrire</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="login">Espace médecin</a></li>
                        <li><a href="">Espace Pharmacien</a></li>
                        <li><a href="#">Espace secrétaire</a></li>
                        <li><a href="#">Espace Infermière</a></li>

                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <a href="#" class="appointment-btn scrollto"><span class="d-none d-md-inline"></span> Login</a>

    </div>



</header><!-- End Header -->

<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active"  style="background-image:url({{'front/assets/img/slide/slide-1.jpg'}}")>


                <div class="container">
                    <h2>Bienvenue à <span>SOFT HEALTH</span></h2>
                    <p>La santé c'est le silence des organes</p>


                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image:url({{'front/assets/img/slide/slide-2.jpg'}}")>
                <div class="container">
                    <h2>Lorem Ipsum Dolor</h2>
                    <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel.</p>

                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image:url({{'front/assets/img/slide/slide-3.jpg'}}")>
                <div class="container">
                    <h2>Sequi ea ut et est quaerat</h2>
                    <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel.</p>

                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section>
<section>

    <div class="card-body">
        <div class="table-responsive">
            <div class="table-responsive">

            {{ include ('/contact_clien/_form.html.twig') }}
            </div>
        </div>
    </div>
</section>




</body>
{% endblock %}
